h1, button {
	margin: 0.5em auto;
}

li {
	margin: 0.5em 0;
}

#popup {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	width: auto;
	height: auto;
	box-shadow: 0 0 20px #000;
	background-color: #fff;
	z-index: 1;
	display: none;
	border-radius: 1em;
	padding: 1em;
	}
	#popup ol {
		margin: 1em 0 2em;
}

#available-devices {
	background-color: #bbb;
	margin: 2em 0;
	display: flex;
	flex-direction: column;
	padding: 1em;
	border-radius: 1em;
	}
	#available-devices button {
		width: 100%;
		height: 2em;
		margin: 0;
		border: none;
		background-color: transparent;
		border-radius: 0.5em;
		text-align: left;
	}
	#available-devices button:hover {
		background-color: #999;
	}
	#available-devices button:focus {
		background-color: #777;
}

#cancel {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

#test {
	position: absolute;
	bottom: 1em;
	right: 6em;
}

#confirm {
	position: absolute;
	bottom: 1em;
	right: 1em;
}