* {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

select {
	width: 8em;
	height: 2em;
	background-color: #bbb;
	border: none;
	border-radius: 0.5em;
	padding: 0.3em 0.5em;
}

select, label {
	font-weight: bold;
}