#banner {
	background-color: #33b;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1em;
	min-height: 3em;
}
#banner * {
	padding: 0;
	margin: auto 0;
}

#menu-button {
	background-color: transparent;
	border: none;
	width: 3em;
	height: 3em;
	border-radius: 0.5em;
	}
	#menu-button:hover {
		background-color: #337;
	}
	#menu-button img {
		filter: invert();
}

#menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 3em;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: #bbb;
	overflow: hidden;
	transition: 0.5s;
	}
	#menu button {
		border: none;
		background-color: transparent;
		padding: 1em 0;
		margin: 4px 4px 0;
		border-radius: 0.5em;
		}
		#menu button:hover {
			background-color: #777
}

#main {
	margin-left: 0;
	margin-top: 3em;
	border: 4px solid #f0f;
}

#content {
	position: fixed;
	top: 3em;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	border: none;
}

#demo-home {
	position: fixed;
	bottom: 0;
	right: 0;
	color: #bbb;
	border: none;
	background: transparent;
	}
	#demo-home:hover {
		color: #777;
		text-decoration: underline;
}