body {
	background-color: #333;
}

#banner {
	background-color: #33b;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1em;
	min-height: 3em;
	transition: 0.5s;
	align-items: start;
}
#banner * {
	padding: 0;
}

#banner-clock {
	margin: 0.8em;
}

#menu-button {
	margin: 0.5em;
}

#banner-date {
	align-self: center;
	margin: 0;
	transition: font-size 0.5s;
}

#menu-button {
	background-color: transparent;
	border: none;
	width: 2em;
	height: 2em;
	border-radius: 0.5em;
	margin: 0.5em;
	}
	#menu-button:hover {
		background-color: #337;
	}
	#menu-button img {
		filter: invert();
		width: 2em;
		height: 2em;
}

#menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 3em;
	left: 0;
	bottom: 0;
	width: 0;
	background-color: #bbb;
	overflow: hidden;
	transition: 0.5s;
	}
	#menu button {
		border: none;
		background-color: transparent;
		padding: 1em 0;
		margin: 4px 4px 0;
		border-radius: 0.5em;
		}
		#menu button:hover {
			background-color: #777
}

#main {
	aspect-ratio: 3 / 4;
	background-color: #fff;
	right: calc(50vw - 37.5vh);
	position: fixed;
	top: 0;
	bottom: 0;
	box-shadow: 0 0 20px #000;
}

#content {
	position: absolute;
	top: 3em;
	left: 5em;
	right: 5em;
	bottom: 0;
	width: calc(100% - 10em);
	height: calc(100% - 3em);
	transition: 0.5s;
	border: none;
	margin: 0;
}

#demo-home {
	position: fixed;
	bottom: 0;
	right: 0;
	color: #bbb;
	border: none;
	background: transparent;
	}
	#demo-home:hover {
		color: #777;
		text-decoration: underline;
}